<div class="container-fluid">
    <div class="bg-footer p-3 mt-3">
        <p class="text-center text-white">Retrouvez-nous sur les réseaux sociaux :</p>
        <div class="d-flex justify-content-evenly p-2">
            <a href="https://www.facebook.com" target="_blank">
                <i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff;"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <i class="fa-brands fa-square-instagram fa-2xl" style="color: #ffffff;"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <i class="fa-brands fa-youtube fa-2xl" style="color: #ffffff;"></i>
            </a>
            <a href="https://www.discord.com" target="_blank">
                <i class="fa-brands fa-discord fa-2xl" style="color: #ffffff;"></i>
            </a>
        </div>
    </div>
</div>
