<div class="container">
    <h1 class="text-center">A propos</h1>
    <p>Un village peuplé d'irréductibles Figurinistes résiste encore et toujours et à l'envahisseur ! Oui c'est un peu ce qui nous a motivé à lancer <strong>Au Petit Village</strong>.</p>
    <p>Le projet est né de la passion pour l'univers d'Astérix et Obélix ! Fondée récemment par une équipe de créateurs enthousiastes, notre entreprise se consacre à la vente de figurines faites main, capturant l'esprit espiègle et l'humour intemporel de ces héros gaulois. Chaque figurine est soigneusement conçue avec des matériaux de qualité, pour que chaque pièce soit unique et pleine de caractère.</p>
    <p>Pourquoi un casque de Gaulois comme logo ? Parce qu'il représente l’audace, la bravoure et la solidarité des Gaulois, des valeurs qui nous tiennent à cœur. Ce symbole emblématique évoque également le monde joyeux d'Astérix, faisant immédiatement écho à notre mission : offrir des produits qui font sourire et qui rappellent les aventures palpitantes de notre enfance.</p>
    <h2>Notre équipe</h2>
    <div class="container d-flex">
        <div class="row justify-content-around">
            <div class="col-6">
              <img src="../../../assets/images/apv-equipe.jpg" alt="Equipe d'Au Petit Village" />
            </div>
            <div class="col-4">
              <p><strong>Au Petit Village</strong>, nous croyons que les figurines ne sont pas seulement des objets de collection, mais aussi des pièces de conversation qui rassemblent les passionnés. Que vous soyez un collectionneur aguerri ou un simple amateur de belles créations, notre boutique vous propose un univers riche en couleurs et en émotions. Rejoignez-nous dans cette aventure et laissez-vous séduire par nos charmantes figurines !</p>
            </div>

        </div>

    </div>
</div>
